body {
	padding: 0px;
	margin: 0px;
	font-family: Myriad pro;
}

.container {
	width: 1170px;
	padding: 0px;
	margin: 0px auto 0px;
}

button {
	width: 150px;
	height: 40px;
	border: 2px solid white;
	border-radius: 0px;
	background: none;
	color: white;
	font-weight: bold;
}

/* ------------ header ---------------- */

header {
	background: #ffffff;
	height: 12px;
	padding: 25px 25px;
	margin-top: -12px;
	font-family: myriad pro;
	font-size: 12px;
}


header li {
	display: inline;
	margin-left: 15px;
}

.limargin {
	margin-left: 265px;
}

/* ------------ slider ---------------- */


.slider {
	background-image: url("img/slider_back.png");
	padding-top: 198px;
	padding-bottom: 204px;
	color: white;
}

h5 {
	text-align: center;
	margin-bottom: 30px;
	color: #cecece;
}

.waveline_double {
	position: absolute;
	margin-left: 320px;
}

.slider li {
	display: inline;
	list-style-type: none;
}

.slider li:first-child {
	float: left; 
}

.slider li:nth-child(2) {

	margin-left: 265px
}

.slider li:last-child {
	float: right;
}

.slider button {
	margin-top: 50px;
	margin-left: 515px;
}

.slider ul {
	padding-top: 31px;
}

/* ------------ about ---------------- */

.about {
	background-color: #e3e3e3;
	padding-top: 75px;
	padding-bottom: 80px;
}

.aboutus img {
	margin-left: 44%;
}

#line {
	margin-left: 42%;
}

.aboutus {
	margin-top: -5px;
	padding-top: 60px;
	background-color: white;
	padding-bottom: 50px;
}

.aboutus li {
	display: inline;
}

.aboutus p {
	margin: 43px 65px 0px;
	color: #3e3d3d;
	font-size: 14px;
}

.aboutus ul {
	margin-top: 50px;
	margin-left: 34%;
}

.aboutus button {
	border-color: #3e3d3d;
	color: #3e3d3d;
}

#btn_black {
	background-color: #3e3d3d;
	color: #cecece;
}

/* ------------ about icons ---------------- */

.about table {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	color: #3e3d3d;
}

.about td {
	width: 270px;
	height: 56px;
	text-align: center;
}

.iconstxt td {
	font-size: 16px;
	font-weight: bold;
}

.iconsnum td {
	font-size: 45px; 
}

#wall {
	border-left: 1px solid #3e3d3d;
	border-right: 1px solid #3e3d3d;
}


/* ------------ services ---------------- */

.services {
	background-image: url("img/service_back.png");
	color: #e3e3e3;
	padding-top: 70px;
	padding-bottom: 65px;
	text-align: center;
}

#underline {
	margin-top: 30px;
	margin-bottom: 30px;
}

.services p {
	margin-bottom: 75px;
	font-size: 16px;
}

.services td {
	width: 300px;
	margin-left: 110px;
	padding: 10px 50px 10px;
	font-size: 15px;
	line-height: 20px;
}

.servicesborder td {
	position: absolute;
	margin-top: -373px;
	margin-left: -60px;
}

.servicesborder td:nth-child(2) {
	position: absolute;
	margin-top: -373px;
	margin-left: 235px;
}

.servicesborder td:nth-child(3) {
	position: absolute;
	margin-top: -373px;
	margin-left: 525px;
}

.servicesborder td:nth-child(4) {
	position: absolute;
	margin-top: -373px;
	margin-left: 819px;
}

/* ------------ history ---------------- */

