body {
	padding: 0px;
	margin: 0px;
	font-family: Myriad pro;
	text-align: center; 
	color: #3e3d3d;
}

.container {
	width: 1200px;
	padding: 60px 0px 40px;
	margin: 0px auto 0px;
}

button {
	width: 150px;
	height: 40px;
	border: 2px solid white;
	border-radius: 0px;
	background: none;
	color: white;
	font-weight: bold;
}

.block_title {
	margin-top: 0px;
	margin-bottom: 15px;
}

.block_underline {
	margin-top: 0px;
	margin-bottom: 0px;
}

.block_paragraph {
	font-size: 14px;
	padding: 30px 30px 40px;
}

a {
	text-decoration: none;
	color: #cecece;
}

/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- header -------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

header {
	background: #ffffff;
	font-size: 12px;
	padding: 0px;
}

.header_container {
	padding: 40px 0px 20px;
}

.header_logo {
	position: absolute;
	margin-top: -10px;
	margin-left: -590px
}

.menu {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -65px;
}

.menu_item {
	list-style-type: none;
	display: inline;
	margin-left: 20px;
}

.menu_item:first-child {
	margin-left: 0px;
}

/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- slider -------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

.slider {
	background-image: url("img/slider_back.png");
	padding-top: 130px;
	padding-bottom: 130px;
}

.slider_h {
	color: #cecece;
}

.waveline_double {
	position: absolute;
	margin-left: 320px;
}

.slider_line_top {
	margin-bottom: 23px;
}

.slider_line_bottom {
	margin: 20px 0px 40px;
}

.slider_title {
	margin: 0px;
}

.slider_leftarrow {
	position: absolute;
	margin-top: -122px;
	margin-left: -510px;
}

.slider_rightarrow {
	position: absolute;
	margin-top: -122px;
	margin-left: 620px;
}
/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- about -------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

.about {
	background-color: #e3e3e3;
	padding-top: 75px;
	padding-bottom: 10px;
}

.about_pic {
	margin-bottom: 0px;
	width: 1200px;
}

.about_block {
	margin-top: -6px;
	margin-bottom: 30px;
	background-color: white;
	padding: 50px 20px 50px;

}

.about_btn {
	border-color: #3e3d3d;
	color: #3e3d3d;
}

.btn_black {
	background-color: #3e3d3d;
	color: #cecece;
	border-color: #3e3d3d;
}
/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- about icons --------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

.about_icon_block {
	width: 270px;
	height: 160px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right: 1px solid #3e3d3d;
	vertical-align: middle;
	display: inline-block;
}

.about_icon_text td {
	font-size: 16px;
	font-weight: bold;
}

.about_icon_num {
	font-size: 45px;
	margin-top: 10px;
}

.about_noline {
	border-right: 0px;
}

.about_block_num {
	margin-left: 0px;
}

/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- services ------------------------------------------ */
/* --------------------------------------------------------------------------------------------- */

.services {
	background-image: url("img/service_back.png");
	color: #e3e3e3;
	padding-bottom: 420px;
}

.service_block {
	padding: 25px 30px 45px;
	width: 210px;
	float: left;
	border: 1px solid #e3e3e3;
	margin-left: 15px;
	margin-right: 15px;
	border-top: 0px;
}

.service_block:last-child {
	margin-right: 0px;
}

.service_icon {
	position: absolute;
	padding: 10px;
	margin-top: -45px;
	margin-left: -22px;
}

.service_block_h {
	margin-left: 0px;
}

.service_topborder {
	width: 90px;
	height: 1px;
	background-color: #e3e3e3;
	position: absolute;
	margin-top: -25px;
}

.service_topborderleft {
	margin-left: -30px;
}

.service_topborderright {
	margin-left: 150px;
}
/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- history ------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

.history {
	background-color: #ededed;
	padding-bottom: 20px;
	font-size: 14px;
}

.history_text {
	padding: 23px 80px 47px;
}

.circle {
	border: 2px solid #3e3d3d;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin: 0px auto 0px;
}

.circle p {
	padding: 5px 0px 0px;
	font-size: 13px;
}

.vertline {
	height: 1050px;
	width: 2px;
	background-color: #3e3d3d;
	margin: 0px auto 0px;
}

.history_dots {
	position: absolute;
	margin: -1020px 553px 0px;
}

.historydots li {
	list-style-type: none;
	margin-top: 20px;
}

.dots li:nth-child(3) {
	margin-top: 192px;
}

.dots li:nth-child(5) {
	margin-top: 430px;
}

.history_circle_2014 {
	position: absolute;
	margin-top: -380px;
	margin-left: 573px;
	background-color: #e3e3e3;
}

.blackdotbig {
	width: 45px;
	height: 45px;
	border-radius: 45px;
	background-color: #3e3d3d;
	margin: 0px auto 0px;
}

.blackdotbig img {
	position: absolute;
	margin-top: 11px;
	margin-left: -10px;
}

/* ------------- history comments ----------------- */


.history_2015 {
	position: absolute;
	width: 1200px;
	margin-left: -40px;
	margin-top: -1090px;
}

.history_2014 {
	position: absolute;
	width: 1200px;
	margin-left: -40px;
	margin-top: -370px;
}

.history_block {
	width: 555px;
	height: 212px;
	text-align: left;
	padding: 30px 10px 30px 30px ;
	border: 2px solid #3e3d3d;
	list-style-type: none;
	margin: 30px 15px 0px;
	box-sizing: border-box;
}

.history_block_date {
	margin: 0px;
	padding: 0px 0px 20px;
}

.history_block_text {
	margin: 0px 0px 20px;
	padding: 0px;
	width: 420px;
}

.history_block_title {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	font-weight: bolder;
}

.history_block_left {
	float: left;
}

.history_block_right {
	float: right;
	padding-left: 100px;
	margin-top: 68px;
}

.history_block_black {
	color: #e3e3e3;
	background-color: #3e3d3d;
	height: 298px;
	margin-top: 30px;
}

.history_block_left:after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: #3e3d3d;
	position: absolute;
	margin-left: 546px;
	margin-top: -175px;
}

.history_block_left:before {
	content: url("img/ugol_left.png");
	position: absolute;
	margin-left: 521px;
	margin-top: -9px;
}

.history_block_right:after {
	content: url("img/ugol_right.png");
	position: absolute;
	margin-left: -112px;
	margin-top: -170px;
}

.history_block_right:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: #3e3d3d;
	position: absolute;
	margin-left: -139px;
	margin-top: -10px;
}

.history_block_black:after {
	content: url("img/ugol_right_black.png");
	position: absolute;
	margin-left: -112px;
	margin-top: -245px;
}

/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- our team ------------------------------------------ */
/* --------------------------------------------------------------------------------------------- */

.team {
	background-image: url("img/teamback.png"); ;
	padding-bottom: 90px;
	color: #3e3d3d;
}

.team_pic {
	margin-left: 15px;
	margin-right: 15px;
}

.team_block {
	display: inline-block;
}

.team_popupblock {
	background-color: white;
	width: 210px;
	padding: 200px 20px 40px;
	text-align: left;
	position: absolute;
	margin-top: -335px;
	margin-left: 25px;
	display: none;
}

.team_block_profession {
	font-size: 12px;
	font-style: italic;
	margin: 0px;
}

.team_block_worker {
	padding: 0px;
	margin: 0px 0px 5px;
}

.team_block_line {
	width: 120px;
	text-align: left;
	margin-left: 0px;
	margin-bottom: 20px;
}

.team_social_icon {
	float: left;
	border-right: 1px solid #3e3d3d;
	padding: 0px 4px 0px;
	vertical-align: top;
	height: 15px;
}

.team_social_icon:last-child {
	border-right: 0px;
}

.team_first:hover .team_popup_first {
	display: block;
}

.team_second:hover .team_popup_second {
	display: block;
}

.team_third:hover .team_popup_third {
	display: block;
}
/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- portfolio ----------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

.portfolio {
	background-color: white;
	padding-bottom: 200px;
	color: #3e3d3d;
	margin-top: -75px;
}

.portfolio_btn {
	width: auto;
	border-color: #3e3d3d;
	color: #3e3d3d;
	padding: 0px 30px 0px;
	float: left;
	margin-left: 5px;
}

.portfolio_btn_first {
	margin-left: 365px;
}

.portimg {
	margin-left: -50px;
	text-align: left;
}

.portimg img {
	width: 373px;
	margin-top: 50px;
}

.portfolio table {
	border-collapse: collapse;
}

.portfolio td {
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.porbottom td {
	vertical-align: bottom;
}

.porbottom {
	position: absolute;
	margin-top: -260px;
}
/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- prices -------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
.prices {
	background-color: #e3e3e3;
	padding-top: 20px;
	padding-bottom: 75px;
	color: #3e3d3d;
	padding-bottom: 590px;
}

.price_block {
	width: 370px;
	height: 550px;
	background-color: white;
	float: left;
	margin-left: 30px;
}

.price_block_first {
	margin-left: 15px;
}

.price_btn {
	border-color: #3e3d3d;
	color: #3e3d3d;
}

.price_line {
	margin-top: 50px;
	width: 230px;
	margin-left: 70px;
	background-color: #3e3d3d;
	height: 2px;
}

.price_h6 {
	padding-top: 50px;
	font-size: 15px;
	margin-left: 0px;
}

.price_icon {
	margin-top: 6px;
}

.price_circle {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: white;
	position: absolute;
	margin-top: -20px;
	margin-left: 165px;
}


.price_h2 {
	font-size: 60px;
	margin-bottom: 20px;
}

.price_sup {
	font-size: 30px;
}

.price_text {
	font-style: italic;
	font-size: 14px;
}

/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- purchase ------------------------------------------ */
/* --------------------------------------------------------------------------------------------- */
.purchase {
	background-color: #2d2d2f;
	padding-bottom: 30px;
	padding-top: 30px;
	color: #cecece;
	text-align: left;
}

.purchase_compaspic{
	position: absolute;
	margin-left: 50px;
	margin-top: -25px;
}

.purchase_btn {
	position: absolute;
	margin-top: -65px;
	margin-left: 925px;
}

.purchase_h {
	color: white;
	margin-left: 300px;
	font-size: 14px;
	margin-top: 0px
}

.purchase_text {
	font-size: 11px;
	color: #cecece;
	margin-left: 300px;
	margin-top: 0px;
	font-style: italic;
	width: 500px;
}

/* ------------------------ blog --------------------------- */

.blog {
	background-color: #e3e3e3;
	text-align: center;
	color: #3e3d3d;
	padding-bottom: 650px;
}

.blog_block {
	padding: 0px;
	background-color: #424244;
	width: 320px;
	height: 359px;
	color: #e3e3e3;
	text-align: left;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.blog1 {
	background-image: url("img/blog1.png");
}

.blog2 {
	background-image: url("img/blog2.png");
}

.blog3 {
	background-image: url("img/blog3.png");
}

.blog4 {
	background-image: url("img/blog4.png");
}

.blog_date {
	font-size: 11px;
	font-style: italic;
	margin-top: 50px;
}

.blog_line {
	width: 170px;
	height: 1px;
	background-color: #e3e3e3;
}

.blog_h6 {
	font-size: 14px;
	margin-left: 10px;
	font-weight: normal;
	margin-top: 16px;
}

.blog_text {
	font-size: 11px;
	line-height: 20px;
	padding-top: 25px;
	color: #949494;
	font-family: Times New Roman;
}

.blog_img {
	position: absolute;
	margin-top: 20px;
}

/* --------------------------- cients -------------------------- */

.clients {
	background-color: white;
	padding-bottom: 155px;
	padding-top: 75px;
	text-align: center;
	color: #3e3d3d;
}

.client_img {
	float: left;
	margin-left: 90px;
}

.client_first {
	margin-left: 80px;
}

/* --------------------------- testimonials -------------------------- */

.testimonials {
	background-image: url("img/testiback.png");
	padding-bottom: 35px;

	color: #cecece;
}

.testi_quote {
	font-style: italic;
	font-size: 15px;
	font-family: Times;
}

.testi_quote:before {
	content: open-quote;
	font-size: 40px;
}

.testi_quote:after{
	content: close-quote;
	font-size: 40px;
}

.testi_text {
	font-style: italic;
	font-size: 12px;
	margin-top: -10px;
}

.testi_header {
	font-size: 14px;
	margin-top: 20px;
	padding-top: 50px;
}


.testi_circle {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #cecece;
	border: 0px;
	display: inline-block;
}

/* --------------------------- maps -------------------------- */

.maps {
	height: 500px;
	background-image: url("img/map.png");
	margin-left: -100px;
}

.maps_tag {
	position: absolute;
	margin-top: 200px;
}

/* --------------------------- footer -------------------------- */

.footer {
	text-align: left;
	color: #cecece;
	padding-top: 50px;
	padding-bottom: 450px;
	background-image: url("img/fooback.png");
}

.footer_logo {
	margin-bottom: 30px;
	margin-left: -370px;
}

.footer_contact_block {
	width: 340px;
	padding-right: 30px;
	padding-top: 0px; 
	vertical-align: top;
	float: left;
	margin-top: 65px;
}

.footer_text {
	font-size: 12px;
	font-family: times;
	color: #949494;
	line-height: 20px;
	margin-bottom: 40px;
}

.footer_title {
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 30px;
}

.footer_form_block {
	float: right;
	vertical-align: top;
	padding-top: 15px;
	width: 830px;
	margin-top: 65px;
}

.footer_input {
	width: 345px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background: none;
	border: 1px solid #3e3d3d;
	font-style: italic;
	font-family: times;
	color: #949494;
	margin-bottom: 20px;
	float: left;
	margin-right: 40px;
}



.footer_textarea {
	width: 750px;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	background: none;
	border: 1px solid #3e3d3d;
	font-style: italic;
	font-family: times;
	color: #949494;
	margin-bottom: 20px;
	resize: none;
}

.footer_submit {
	width: 150px;
	background-color: #3e3d3d;
	color: #949494;
	border: 1px solid #3e3d3d;
	font-family: myriad pro;
	text-align: center;
	height: 38px;
	font-style: normal;
}